<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wraper">
    <div class="container">
      <div id="narrow-browser-alert" class="alert alert-info text-center">
        <span class="pull-right"><%= link_to "upload new", new_post_attachment_path %></span>
        <strong><h3>Bridge Connectivity Solutions </h3></strong> <br>
        Bridge Community to Technology and Services!
      </div>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> text-center"><%= value %></div>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
